body {margin: 0; padding: 0}
header {position: absolute; width:100%; height:8%; font-size:x-large; font-weight:bold; border: 1px solid gray; }
div.container{
  width: 500px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}